//@import url('//fonts.googleapis.com/css?family=Jura:400,300,600');
@import url('//fonts.googleapis.com/css?family=Roboto:400,300,700');
@import 'normalize';
@import 'skeleton';

/* Variables
-------------------------------------------------- */
$lightgray: #efefef;

// START -- Bootstrap colors
$color-muted: #636c72;
$color-primary: #0275d8;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;
$color-white: #fff;
// END -- Bootstrap colors

$grey-trans: rgba(200,200,200,0.9);
$body-padding-top-vh: 1.5vh;
$body-margin-top-vh: 1.5vh;
$mobile: 400px;
$phablet: 550px;
$tablet: 750px;
$desktop: 1000px;
$desktopHD: 1200px;

/* Rules
------------------------------------------------- */
body {
    margin-top: $body-margin-top-vh;
    // padding-top: $body-padding-top-vh;
    // padding-top: 2rem;
    background-color: $lightgray;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

// @media (max-width: $phablet) { // PROBABLY NOT NEEDED
//     .column-special {
//         width: 50%;
//     }
// }

.overflow-auto {
  overflow: auto;
}

.nowrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

.pos-abs-hidden {
  position: absolute;
  left: -999em;
}

.spacing-special {
    margin-bottom: 0.5rem;
}

.border-btm {
  border-bottom: 1px solid black;
}

.align-baseline {
    vertical-align: baseline;
}

.button-bold {
    // border: 1px solid black !important;
    background-color: $grey-trans !important;
}

.align-center {
    text-align: center;
}

.align-right { // PROBABLY NOT NEEDED
    text-align: right;
}

.bg {
    background-image: url("/images/crossword-arxiki.jpg");
    background-position: center;
    background-repeat: repeat-x;
    padding: 1rem 1rem 0;
    background-color: #666;
}

.border-dotted {
    // padding: -1px;
    border: 1px dotted black;
}

.pos-abs-btm-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.pos-rel-btm-left {
  position: relative;
  left: 0;
  bottom: 0;
}

.dropdown-content {
    position: absolute;
    right: 0;
    background-color: $lightgray;
    border-radius: 4px;
    border: 1px solid #bbb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a {
      display: block;
      height: 38px;
      padding: 0 30px;
      color: #555;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: .1rem;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      box-sizing: border-box;
    }

    a:hover {
      color: #333;
      border-color: #888;
      outline: 0;
    }

    a:last-child {
      margin-top: 10px;
    }
}


#messages {
  ul {
    padding: 5px 5px;
    list-style-type: none;
    margin-bottom: 1rem;

    .this-player {
      text-align: right;
    }

    li:nth-child(odd) {
      font-weight: bold;
      margin-bottom: 0;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  form {
    margin-bottom: 0;

    input:last-child {
      margin-bottom: 0;
    }
  }
}

.fixed {
  position: fixed;
  background-color: $lightgray;
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: 20px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.game-statistics p:nth-child(even) {
  font-weight: bold;
}

// Text colors
.text-muted {
  color: $color-muted;
}

.text-primary {
  color: $color-primary;
}

.text-success {
  color: $color-success;
}

.text-info {
  color: $color-info;
}

.text-warning {
  color: $color-warning;
}

.text-danger {
  color: $color-danger;
}

.text-white {
  color: $color-white;
}
