<div class="container">

    <div class="row">
        <a class="button" href="/register">{{__ 'register'}}</a>
        <a class="button u-pull-right" href="/login">{{__ 'login'}}</a>
    </div>

    <h2>{{title}}</h2>

    <img class="u-full-width" src="/images/crossword-arxiki.jpg" alt="Image of a crossword">

    {{> footer}}

</div>
