<div class="container">

    <div class="row">
        <div class="twelve columns">
            <a class="button" href="/register">{{__ 'register'}}</a>
            <a class="button u-pull-right" href="/login">{{__ 'login'}}</a>
        </div>
    </div>

    <div class="row align-center">
        <div class="twelve columns">
            <h2>{{title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <img class="u-full-width" src="/images/crossword-arxiki.jpg" alt="Image of a crossword">
        </div>
    </div>

    {{> footer}}

</div>
