<div class="container">

    <div class="row">
        <div class="one-half column">
            <a class="button" href="/">{{__ 'back'}}</a>
        </div>
    </div>

    <div class="row align-center">
        <div class="twelve columns">
            <h3>{{__ 'userSettings'}}</h3>
        </div>
    </div>

    <div class="row">

    </div>

</div>
